@use '../../styles/variables.scss' as *;

.footer {
  color: $gray-700;

  background-color: $gray-100;

  padding: 60px 20px;

  .footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 30px;

    max-width: 1200px;

    margin: 0 auto;
  }

  .footer-logo {
    text-align: left;
    grid-column: 1 / 2;

    img {
      max-width: 150px;
    }
  }

  .footer-section {
    h3 {
      font-size: 1.2rem;
      color: $gray-900;

      margin-bottom: 20px;
    }

    &.contact,
    &.links,
    &.social {
      grid-column: auto;
    }

    &.contact p {
      display: flex;
      align-items: center;

      margin-bottom: 12px;

      svg {
        color: $gray-700;

        margin-right: 10px;
      }

      a {
        transition: color 0.3s ease-in-out;

        &:hover {
          color: $primary-color;
        }
      }
    }

    &.links ul {
      list-style: none;

      padding: 0;

      li a {
        display: block;

        text-decoration: none;
        color: $gray-700;

        margin-bottom: 10px;

        transition: color 0.3s ease;

        &:hover {
          color: $primary-dark;
        }
      }
    }

    &.social .social-icons {
      display: flex;

      a {
        font-size: 1.5rem;
        color: $gray-700;

        margin-right: 20px;

        transition: color 0.3s ease;

        &:hover {
          color: $primary-dark;
        }
      }
    }
  }

  .footer-bottom {
    font-size: 0.9rem;
    text-align: center;
    color: $gray-700;

    border-top: 1px solid $gray-200;

    margin-top: 40px;

    padding-top: 20px;
  }

  @media (max-width: 768px) {
    .footer-container {
      grid-template-columns: 1fr;
    }

    .footer-logo {
      grid-column: 1 / -1;
      text-align: center;

      margin-bottom: 20px;
    }
  }
}
