@use '../../styles/variables.scss' as *;

.footer {
  background-color: $gray-100;
  color: $gray-700; /* Ajuste para melhor contraste */
  padding: 60px 20px;

  .footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
  }

  .footer-logo {
    text-align: left;
    grid-column: 1 / 2;

    img {
      max-width: 150px;
    }
  }

  .footer-section {
    h3 {
      font-size: 1.2rem;
      margin-bottom: 20px;
      color: $gray-900; /* Ajuste para melhor contraste */
    }

    &.contact,
    &.links,
    &.social {
      grid-column: auto;
    }

    &.contact p {
      margin-bottom: 12px;
      display: flex;
      align-items: center;

      svg {
        margin-right: 10px;
        color: $gray-700; /* Ajuste para melhor contraste */
      }
    }

    &.links ul {
      list-style: none;
      padding: 0;

      li a {
        color: $gray-700; /* Ajuste para melhor contraste */
        text-decoration: none;
        display: block;
        margin-bottom: 10px;
        transition: color 0.3s ease;

        &:hover {
          color: $primary-dark; /* Ajuste para melhor contraste */
        }
      }
    }

    &.social .social-icons {
      display: flex;

      a {
        color: $gray-700; /* Ajuste para melhor contraste */
        font-size: 1.5rem;
        margin-right: 20px;
        transition: color 0.3s ease;

        &:hover {
          color: $primary-dark; /* Ajuste para melhor contraste */
        }
      }
    }
  }

  .footer-bottom {
    text-align: center;
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid $gray-200; /* Ajuste para melhor contraste */
    font-size: 0.9rem;
    color: $gray-700; /* Ajuste para melhor contraste */
  }

  /* Responsividade */
  @media (max-width: 768px) {
    .footer-container {
      grid-template-columns: 1fr;
    }

    .footer-logo {
      grid-column: 1 / -1;
      text-align: center;
      margin-bottom: 20px;
    }
  }
}
